@import 'mixins';

$white: white;
$dark-grey: #222222;
$black: #000000;
$blue: #2792cf;
$darkblue: #5786db;
$teal: #29aeb0;
$pink: #d165bb;
$coral: #e57383;
$yellow: #f6e873;
$orange: #e46d55;

$font-primary: 'Open Sans', 'sans-serif';
$font-display: 'Poppins', 'sans-serif';

$default-font-size: 1.5rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem = 10px;  10px/16px = 62.5% */
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  background-color: $white;
}

section {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

//***** SVG WAVE *****//
.wave {
  position: relative;
  width: 100%;
}
path {
  position: absolute;
  width: 100%;
}

//***** BUTTONS *****//
.btn {
  border-radius: 20rem;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 1.6px;
  font-weight: 300;
  transition: box-shadow 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  &--main {
    margin-top: 3rem;
    padding: 2rem 2.5rem;
    color: $white;
    background-color: $dark-grey;
    box-shadow: 0 5px 5px rgba($black, 0.3);
    &:hover {
      box-shadow: 4px -4px 25px $pink, -4px 4px 25px $orange;
    }
    &:focus {
      border: none;
      outline: none;
    }
    @include respond(tab-port) {
      // width < 900?
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translate(-50%, -10%);
    }
  }
  &--about {
    font-weight: 400;
    margin-top: 5rem;
    padding: 2rem 3.5rem;
    background: linear-gradient(to right, $teal, $darkblue);
    &:hover {
      box-shadow: 4px -3px 20px $teal, -4px 3px 20px $darkblue;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
  &--contact {
    padding: 2rem 3.5rem;
    color: $white;
    background-color: $dark-grey;
    box-shadow: 0 5px 5px rgba($black, 0.3);
    &:hover {
      box-shadow: 4px -4px 25px $teal, -4px 4px 25px $blue;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
}
.margin-top-xs {
  margin-top: 2rem;
}
.margin-top-sm {
  margin-top: 3rem;
}
.margin-bottom-xs {
  margin-bottom: 1rem;
}
.margin-bottom-sm {
  margin-bottom: 2rem;
}
.margin-bottom-md {
  margin-bottom: 4rem;
}
.paragraph-heading {
  font-display: $font-display;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  letter-spacing: 1.5px;
}
.paragraph {
  font-family: $font-primary;
  font-size: $default-font-size;
  letter-spacing: 1.3px;
  font-weight: 300;
}
.changeWord {
  width: 5rem;
}

//***** NAVBAR *****//
#nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  z-index: 20;
  padding: 3rem 10rem 0 0;
  position: relative;
  @include respond(tab-port) {
    // width < 900?

    justify-content: flex-start;
  }
}
#nav-bar ul li {
  display: inline-block;
  justify-content: flex-end;
  @include respond(tab-port) {
    // width < 900?
    display: flex;
    justify-content: flex-start;
    margin-left: 3rem;
  }
}
#nav-bar ul li a {
  color: $dark-grey;
  font-family: $font-primary;
  font-size: $default-font-size;
  letter-spacing: 1.3px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 3rem;

  &:hover {
    color: $teal;
    border-bottom: 1px solid $teal;
  }
}
.nav-logo {
  height: 4rem;
  width: 4rem;
  margin: 2rem 5rem;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 50;
}

//***** HEADER *****//
header {
  min-height: 100vh;
  position: relative;
  color: $dark-grey;
  font-family: sans-serif;
  width: 100%;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  z-index: 5;
  text-shadow: 0 5px 5px rgba($black, 0.3);
  &__h1 {
    font-family: $font-display;
    font-weight: 300;
    font-size: 10rem;
    letter-spacing: 1.3px;
  }
  &__h3 {
    font-family: $font-primary;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1.6px;
  }
  &__city {
    font-weight: 700;
  }
  @include respond(tab-port) {
    // width < 900?
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

//***** HEADER SHAPES *****//
.circle {
  max-width: 100%;
  z-index: -10;
  &__teal-large {
    height: 35rem;
    opacity: 0.95;
    position: absolute;
    top: -7%;
    right: 24%;
  }
  &__collage {
    height: auto;
    position: absolute;
    top: 15%;
    right: 0;
    transform: translate(0%, -15%);
  }
  &__yellow-pink {
    height: 28rem;
    position: absolute;
    top: 5%;
    left: -5%;
  }
  &__teal {
    height: 35rem;
    position: absolute;
    top: 60%;
    right: 0%;
  }
  &__blue-small {
    height: 15rem;
    position: absolute;
    opacity: 0.95;
    top: 65%;
    left: 8%;
  }
  &__blue-med {
    height: 25rem;
    position: absolute;
    opacity: 0.95;
    top: 60%;
    right: 15%;
    z-index: -1;
  }
  &__coral {
    height: 20rem;
    opacity: 0.95;
    position: absolute;
    top: -17%;
    right: 24%;
  }
  &__purple {
    height: 30rem;
    opacity: 0.95;
    position: absolute;
    top: -10%;
    left: 5%;
  }
  @include respond(tab-land) {
    // width < 1200?
    max-width: 80%;
  }

  @include respond(tab-port) {
    // width < 900?
    max-width: 70%;
  }
}

//***** ABOUT SECTION *****//
#about {
  min-height: 85vh;
  width: 100%;
  background-color: $dark-grey;
  color: $white;
}
.row--about {
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(tab-land) {
    // width < 1200?
    flex-direction: column;
  }
}
.content {
  display: flex;
  flex-direction: column;
  &--left {
    width: 50%;
    padding: 15rem 5rem 10rem 12rem;
    @include respond(tab-land) {
      // width < 1200?
      width: 80%;
      display: flex;
      align-items: center;
      padding: 5rem 12rem;
    }
    @include respond(tab-port) {
      // width < 900?
      padding: 5rem 5rem;
    }
    @include respond(phone) {
      // width < 600?
      padding: 3rem 1rem;
    }
  }
  &--right {
    width: 40%;
    z-index: 50;
    @include respond(tab-land) {
      width: 80%;
    }
  }
}
.collage {
  position: relative;
  left: 5%;
  max-width: 100%;

  &__img {
    width: 50%;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 1rem 1rem rgba($black, 0.3);
    z-index: 10;
    @include respond(tab-land) {
      // width < 1200?
      position: relative;
      width: 30%;
    }

    &--one {
      left: -5%;
      top: 37%;
      @include respond(tab-land) {
        // width < 1200?
        left: 1rem;
        top: 1.5rem;
      }
    }
    &--two {
      left: 32%;
      top: 47%;
      @include respond(tab-land) {
        // width < 1200?
        left: 0;
        top: 0;
      }
    }
    &--three {
      left: 19%;
      top: 16%;
      @include respond(tab-land) {
        // width < 1200?
        left: -1rem;
        top: 1.5rem;
      }
    }
    &--teal {
      height: 50rem;
      width: 50rem;
      @include respond(tab-land) {
        // width < 1200?
        visibility: hidden;
        display: none;
      }
    }
  }
}

//***** FEATURES SECTION *****//
#features {
  min-height: 85vh;
  width: 100%;
  color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 15rem;
  @include respond(tab-land) {
    // width < 1200?
    padding: 5rem 5rem;
  }
  @include respond(tab-port) {
    // width < 900?
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.feature-column {
  background-color: rgba($white, 0.7);
  color: $dark-grey;
  border-radius: 10px;
  padding: 3rem;
  text-align: center;
  box-shadow: 1rem 1rem 3rem rgba($black, 0.4);
  &:not(:last-child) {
    margin-right: 3rem;
  }
  @include respond(tab-land) {
    // width < 1200?
    padding: 3rem 1rem;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  @include respond(tab-port) {
    // width < 900?
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }
}

.feature-box {
  width: 20rem;
  height: 25rem;
  &__heading {
    font-display: $font-display;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1.3px;
  }
  &__icon {
    height: 4.5rem;
    width: 4.5rem;
    &--xl {
      height: 5.5rem;
      width: 5.5rem;
    }
  }
  &__text {
    font-size: 1.5rem;
    font-family: $font-primary;
    font-size: $default-font-size;
    letter-spacing: 1.3px;
    font-weight: 400;
  }
  @include respond(tab-port) {
    // width < 900?
    width: 40rem;
    height: 20rem;
  }
}

//***** TESTIMONY SECTION *****//
#testimony {
  min-height: 85vh;
  width: 100%;
  background-color: $dark-grey;
  color: $white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(tab-land) {
    // width < 1200?
    padding: 5rem 5rem;
  }
}
.testimony-img {
  position: absolute;
  &--yellow-pink {
    right: 0%;
    top: -25%;
    height: 40rem;
    @include respond(tab-land) {
      height: 35rem;
    }
  }
  &--blue {
    left: 28%;
    bottom: -10%;
    height: 20rem;
    transform: rotate(250deg);
    z-index: 50;
    @include respond(tab-land) {
      height: 15rem;
    }
  }
}
.row--testimony {
  display: flex;
  position: absolute;
  z-index: 10;
  @include respond(tab-port) {
    // width < 900?
    display: inline-block;
  }
}
.testimony-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($white, 0.8);
  color: $dark-grey;
  border-radius: 10px;
  padding: 3.5rem;
  text-align: center;
  &:not(:last-child) {
    margin-right: 8rem;
  }
  @include respond(tab-land) {
    padding: 4rem 2rem;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  @include respond(tab-port) {
    // width < 900?
    padding: 1rem 3rem 2rem 3rem;
    &:not(:last-child) {
      margin-bottom: 3rem;
      margin-right: 0;
    }
  }
}
.testimony-box {
  width: 25rem;
  height: 37rem;
  &__shape {
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
    // -webkit-shape-outside: circle(50% at 50% 50%);
    // shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
  &__img {
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
  }
  &__text {
    font-size: 1.5rem;
    font-family: $font-primary;
    font-size: $default-font-size;
    letter-spacing: 1.3px;
    font-weight: 400;
  }
  @include respond(tab-port) {
    // width < 900?
    width: 50rem;
    height: 20rem;
    display: flex;
    align-items: center;
    text-align: right;
  }
}

//***** CONTACT SECTION *****//
#contact {
  min-height: 80vh;
  width: 100%;
  color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.row--contact {
  margin: 0 auto;
  width: 50%;
}

.form {
  font-size: $default-font-size;

  &__heading {
    text-align: center;
    letter-spacing: 1.3px;
  }
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    letter-spacing: 1.3px;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($dark-grey, 0.2);
    border: none;
    border-bottom: 3px solid $dark-grey;
    width: 100%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($black, 0.3);
      border-bottom: 3px solid $teal;
      background-color: rgba($dark-grey, 0.15);
    }
    &::-webkit-input-placeholder {
      color: $dark-grey;
    }
  }
  &__group {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 1rem;
    &--btn {
      text-align: center;
    }
  }

  &__label {
    letter-spacing: 1.3px;
    font-family: $font-primary;
    letter-spacing: 1.3px;
    font-weight: 300;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
  }

  &__radio-group {
    width: 40%;
    display: inline-block;
    margin: 1rem;
    @include respond(phone) {
      width: 50%;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
    letter-spacing: 1.3px;
    font-family: $font-primary;
    letter-spacing: 1.3px;
    font-weight: 300;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $dark-grey;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;
    border-radius: 50%;

    &::after {
      content: '';
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $dark-grey;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
//***** FOOTER *****//

#footer {
  padding: 2rem 0 6rem 0;
  background-color: rgba($black, 0.2);
}
.footer {
  width: 100%;
  color: $dark-grey;
  &__nav {
    padding: 3rem;
  }
  &__link {
    text-decoration: none;
    color: $dark-grey;
    cursor: pointer;
    &:hover {
      color: $teal;
      border-bottom: 1px solid $teal;
    }
  }
  &__list {
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    font-family: $font-primary;
    font-size: $default-font-size;
    letter-spacing: 1.3px;
    font-weight: 400;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 3rem;
    }
    @include respond(phone) {
      // width < 600?
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
}
.footer-text {
  text-shadow: 0 5px 5px rgba($black, 0.3);
  &__h1 {
    width: 100%;
    text-align: center;
    font-family: $font-display;
    font-weight: 300;
    font-size: 6rem;
    letter-spacing: 1.3px;
  }
  &__city {
    font-weight: 700;
  }
}

.attribution {
  padding: 0 3rem;
  &__paragraph {
    font-family: $font-primary;
    font-size: 1rem;
    letter-spacing: 1.3px;
    font-weight: 300;
  }
}
